@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"); /* font-awesome kutuphanesi */
* {
  box-sizing: border-box;
}
* {
  margin: 0px;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  position: relative;
}
body {
  height: 100%;
  width: 100%;
}

.footer-section {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 50px 0px 0px 0px;
}

.footer {
  margin: 0px;
  bottom: 0px;
  width: 100%;
  padding: 50px 0px 0px 0px;
  background: rgb(31, 36, 168);
  background: linear-gradient(
    90deg,
    rgba(31, 36, 168, 1) 31%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 125, 55, 1) 77%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 90px 0px 100px 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
  font-variant: small-caps;
  color: #0000b3;
}
.footer-left a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: #fff;
  position: relative;
  right: 85px;
  top: 20px;
}
.footer-right a {
  text-decoration: none;
  font-size: 44px;
  font-weight: 900;
  padding: 10px;
  margin: 10px;
  position: relative;
  left: 100px;
  bottom: 20px;
  color: rgb(52, 6, 177);
  cursor: pointer;
}
.footer-right i:hover {
  transform: translateY(-10px);
}
