.signup-page {
  margin-top: 97px;
}
.signup-title {
  text-align: center;
  padding: 15px;
  color: #2d2dc8;
}
.signup-forms {
  width: 500px;
  margin: auto;
}
.signup-forms label,
.signup-forms input:not([type="checkbox"]),
.signup-forms select {
  display: block;
  width: 100%;
  margin: 10px;
}
.signup-forms input[type="checkbox"],
.signup-forms input[type="checkbox"] + label {
    display: inline-block;
    width: auto;
    margin: 10px;
}
.signup-forms button[type="submit"] {
    display: block;
    margin: 10px;
    background-color: #2d2dc8;
    color: aliceblue;
    padding: 10px;
    transition: all .5s;
}
.signup-forms button[type="submit"]:hover {
    background-color: #fff;
    color: #2d2dc8;
}
.signup-forms input:not([type="checkbox"]),
.signup-forms select {
    padding: 10px 5px;
    border: 5px inset #2d2dc8;
}
.signup-forms input:not([type="checkbox"]):focus,
.signup-forms select:focus {
    background-color: rgba(0, 255, 255, 0.178);
}
.signup-forms input[type="checkbox"] {
    appearance: none;
    vertical-align: bottom;
    width: 30px;
    height: 30px;
    border: 4px inset #2d2dc8;
    border-radius: 50%;
}
.signup-forms input[type="checkbox"]:checked {
    background-color: #2d2dc8;
    border: 4px inset #fff;
}

